.logo-container {
//   background-color: yellow;
  animation: 1s logo forwards;
  animation-delay: 2s;
  transform: translateY(70px);
  font-size: 5vw;
  & .logo{
    font-family: 'Righteous', cursive;
    color: var(--black2);
    -webkit-text-stroke: .5px var(--grayBackgrounddark2);

  }
}

@keyframes logo {
  0% {
    font-size: 5vw;
    transform: translateY(70px);
}
100% {
    font-size: 26px;
    transform: translateY(0px);
  }
}
